<div class="header" style="display:flex; justify-content: space-between; margin:3% 0%">
<h1> Recipies</h1>
 <%= link_to ' + Create new '.html_safe, new_recipe_path, class: 'btn btn-primary ' %>
</div>
<div class="row">
    <% @recipes.each do |recipe| %>
    <div class="card bg-light mb-6 align-center " style="margin:1%">
        <div class="card-header"><%= recipe.name %></div>
        <div class="card-body element">
            <div class='element_left_recipes'>
               <%= recipe.name.capitalize %>
             </div>
            <div class='element_right'>  
                <p>Description: <%= truncate(recipe.description, length: 90, omission: '...') %></p>
               <p class="mt-6"> Total preparation_time: <%= recipe.preparation_time %> </p>
           </div>
        </div>
        <div class="card-footer bg-transparent border-success" style="display:flex">
            <%= link_to 'Show'.html_safe, recipe_path(recipe.id), class: 'btn btn-outline-info' %>
            <%= button_to "Delete", recipe_path(recipe.id), method: :delete , class: 'btn btn-outline-danger ml-1' if can? :destroy, recipe %>
        </div>
    </div>     
    <% end %>
</div>

</div>

