<h1> Recipies</h1>
<div class="row">
    <% @recipes.each do |recipe| %>
     <div class="card-body">
        <h5><%= recipe.name %></h5>
        <p ><%= recipe.description.length < 54 ? recipe.description : truncate(recipe.description, length: 100, omission: '...') %></p>
        <p >
            <%= link_to 'Show'.html_safe, recipe_path(recipe.id), class: 'btn btn-outline-info' %>
            <%= link_to 'Delete'.html_safe, recipe_path(recipe.id), method: :delete, data: { confirm: "Delete recipe #{recipe.name}?" }, class: 'btn btn-outline-danger' if can? :destroy, recipe %>
            <%= button_to "Delete", recipe_path(recipe.id), method: :delete %>
        </p>
    </div>
    <% end %>
</div>

