<h3 class="mb-3">Foods lists </h3>
<div class="table-responsive">
<table class="table table-striped text-center">
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Action</th>
    </tr>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.name%></td>
      <td><%= food.measurement_unit%></td>
      <td><%= food.price%></td>
      <td><%= button_to 'Delete', food_path(id: food), method: :delete%></td>
    </tr>
    <% end %>
</table>
<%= button_to 'Add new food', new_food_path, method: :get%>
</div>